@media (width <= 640px) {
  .wallaby-grid {
    grid-template-columns: 1fr;
  }
}

@media (hover: none) {
  a:hover {
    background: none;
    animation: none;
    -webkit-text-fill-color: initial;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.001s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001s !important;
  }
}
