{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Welcome to Wallaby Fest</h1>

    <div class="sun"></div>

    <div class="wallaby" style="left: 10%; top: 20%;">
        <img src="{{ static_root }}/upload/andrew_nose_transparent.png" alt="Wallaby 1">
    </div>
    <div class="wallaby" style="left: 70%; top: 30%; animation-delay: 0.5s;">
        <img src="{{ static_root }}/upload/andrew_nose_transparent.png" alt="Wallaby 1">
    </div>

    <div class="leaf" style="left: 5%; animation-delay: 0s;"></div>
    <div class="leaf" style="left: 20%; animation-delay: 1s;"></div>
    <div class="leaf" style="left: 35%; animation-delay: 2s;"></div>
    <div class="leaf" style="left: 50%; animation-delay: 3s;"></div>
    <div class="leaf" style="left: 80%; animation-delay: 1.5s;"></div>

    <div class="content-box">
        <h2>Coming Soon</h2>
        <p class="hopper">This beautiful website is under construction</p>

        <div class="campfire" style="left: 15%; top: 50%;">
            <div class="campfire-logs"></div>
            <div class="flame"></div>
            <div class="flame"></div>
            <div class="flame"></div>
            <!-- sparks -->
            <div class="sparks" aria-hidden="true">
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark large"></span>
            </div>
        </div>

        <div class="campfire" style="right: 15%; top: 55%;">
            <div class="campfire-logs"></div>
            <div class="flame"></div>
            <div class="flame"></div>
            <div class="flame"></div>
            <!-- sparks -->
            <div class="sparks" aria-hidden="true">
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark"></span>
                <span class="spark large"></span>
            </div>
        </div>

        <div class="grass"></div>
        <div class="grass"></div>
        <div class="grass"></div>
    </div>
</div>
{% endblock %}