<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>{{ title }}</title>

    <link rel="icon" href="/images/favicon.ico">
    <script src="/scripts/auth-utils.js"></script>
    <script src="/scripts/base.js"></script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
</head>

<body>
    <header>
        <a href="/">
            <h1>🦘 Wallaby Fest</h1>
        </a>
        <nav>
            <a href="/">Home</a>
            <a href="/festival-map/">Map</a>
            <a href="/wallabies/">Meet the Wallabies</a>
            <a href="/details/" id="nav-details-link" hidden>Details</a>
            <a href="/profile/" id="nav-profile-link" hidden>Profile</a>
            <a href="/login/" id="nav-login-link">Login</a>
            <a href="#" id="nav-logout-link" hidden>Logout</a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>None of the content is AI generated, I just have a shit sense of humour.</p>
        <p id="footer-version" hidden></p>
    </footer>
</body>

</html>