{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- background wallabies (animated, decorative) -->
<div class="bg-wallaby-container" aria-hidden="true">
    <div class="bg-wallaby" style="background-image: url('{{ static_root }}/upload/wallabies.gif');"></div>
    <div class="bg-wallaby" style="background-image: url('{{ static_root }}/upload/wallabies.gif');"></div>
    <div class="bg-wallaby" style="background-image: url('{{ static_root }}/upload/wallabies.gif');"></div>
    <div class="bg-wallaby" style="background-image: url('{{ static_root }}/upload/wallabies.gif');"></div>
    <div class="bg-wallaby" style="background-image: url('{{ static_root }}/upload/wallabies.gif');"></div>
</div>
<h2>About Wallaby Fest</h2>
<p>
    Wallaby Fest was founded in 2022 to share Jackie's lovely home and animals with my close friends.
</p>
<p>
    This beautiful website was vibe coded with GitHub CoPilot and some terrible prompting.
</p>
{% endblock %}