<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallaby Fest -
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ static_root }}/css/main.css">

    <link rel="icon" type="image/png" href="{{ static_root }}/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ static_root }}/favicon/favicon.svg" />
    <link rel="shortcut icon" href="{{ static_root }}/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_root }}/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="{{ static_root }}/favicon/site.webmanifest" />
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="header">
            <header>
                <h1>Wallaby Fest</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="content">
            <main>{% block content %}{% endblock %}</main>
        </div>
        <div class="footer">
            <footer>
                {% block footer %}<p>🦘 Get excited for 2026</p>{% endblock %}
            </footer>
        </div>
    </div>

</body>

</html>